<!DOCTYPE html>
<html>
  <head>
    <title>DynamoDB Examples</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= description %></h1>
    <code><%= JSON.stringify(jay_son,null,2) %></code>
  </body>
</html>
